.rich-text {
  z-index: 1;
}

.border-top {
  display: block !important;
  border-top: 0.1rem solid #2d5a4f;
  padding-bottom: 4rem;
}

.border-bottom {
  display: block !important;
  padding-top: 5rem;
  border-bottom: 0.1rem solid #2d5a4f;
}

.rich-text__blocks *:not(h2) {
  margin-top: 1.125rem;
}

.rich-text__grid-col-1,
.rich-text__grid-col-2 {
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}

@media screen and (min-width: 750px) {
  .rich-text__grid-col-1 {
    -webkit-columns: 1 12rem;
    -moz-columns: 1 12rem;
    columns: 1 12rem;
  }
}

@media screen and (min-width: 750px) {
  .rich-text__grid-col-2 {
    -webkit-columns: 2 12rem;
    -moz-columns: 2 12rem;
    columns: 2 12rem;
    position: relative;
  }

  .rich-text__grid-col-2 > h2 {
    column-span: all;
    width: 49%;
  }
}

.rich-text__heading {
  margin: 0;
}

/* .rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
} */

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}
