.contact__grid-col-1, .contact__grid-col-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1.25rem 2.5rem;
}

@media screen and (min-width: 750px) {
  .contact__grid-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .contact__grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact .rich-text__heading {
  margin: 0;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
  margin: 1.5rem;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 1.25rem;
  text-align: right;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 1.25rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
